/*cleared and ready for customization*/
.App{
  text-align: center;
  padding-top:50px;height:250px;color: black; background-color: #0000ff; border: 2px solid gray; border-radius: 5px
}

.header{
  color: #99bbff;
  font-size: 33px;
}


#goals{
  padding-top:100px;height:500px;color: black; background-color: white; border: 2px solid gray; border-radius: 5px
}

#extra{
  padding-top:50px;height:300px;color: black; background-color: white; border: 2px solid gray; border-radius: 5px
}